import React from 'react';

import { {{ pascalCase name}}GeneratedProps } from './{{ pascalCase name}}.props';
import { Container } from './{{ pascalCase name}}.style';

const {{ pascalCase name}}View = (props: {{ pascalCase name}}GeneratedProps) => {
  return (
    <Container>
      <h1>{{pascalCase name}} component</h1>
    </Container>
  );
};

export default {{ pascalCase name}}View;
